body{
    margin: 0;
    padding: 0;
    font-family:'Roboto Mono', monospace; 
    font-size: 14px;
}

.container{
    width: 750 px;
    margin: 0 auto;
    text-align: center;
}

header{
    height: 50px;
}

nav{
    height: 50px;
    padding-top: 30px;
}

nav a{
    background: #5ED3EB;
    padding: 1% 2%;
    border-radius: 10px;
    margin: 0 12%;
    color:white;
    text-decoration: none;
}

nav a:first-child{
    background: #FF764E;
    margin: 0 6% 0 3%;
}

nav a:last-child{
    background: #FFCD69;
    margin: 0 3% 0 6%;
}

main img{
    width: 200px;
    display:inline-block;
    border-radius: 200px;
    height: 200px;
}

main div{
    width: 75%;
    display: inline-block;
    text-align: center;
}

h1{
    font-size: 24px;
}

main{
    padding: 50px 0;
    display: block;
    width: 75%;
}

#main-text{
    background:#DDB9A3;
    padding: 0.25% 1%;
    color: white;
    width: 75%;
}

.feature{
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.feature img{
    width: 25%;
    margin: 4% auto;
}

.feature span{
    font-weight: bold;
}

footer{
    background:#F9E7DC;
}

footer div{
    height: 150px;
    background-image: url("./assets/footer_img.jpg");
    background-size: 80;
    background-position: 5%;
    align-items: flex-end;
}